@model IEnumerable<KurumsalWebProjesi.Models.Model.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Services</h2>

<a class="btn btn-default" href="/Service/Create/"> Create New </a>

<table class="table table-striped" >
    <thead>
        <tr>
            <th>#</th>
            <th> Title </th>
            <th> Description </th>
            <th> ImageURL </th>
            <th> Transactions </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) //her seferinde kaç tane kayıt varsa dönsün bize getirsin
       
        {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@Html.Raw(item.Description)</td>
            <td><img width="100" height="100" src="@item.ImageURL" /></td>
            <td><a href="/Service/Edit/ @item.ServiceId"> Edit </a> | <a href="/Service/Delete/@item.ServiceId">Delete</a></td>
        </tr>
        }
        

    </tbody>
</table>
